body {
    background-color: #FFEDD8;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
}

.navbarbac {
    width: 100%;
    height: 70px;
}

.navbarbac img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.bread {
    font-family: 'Noto Sans TC Light';
    font-size: 13px;
    padding-top: 30px;
    padding-left: 20px;
}

.bread a {
    text-decoration: none;
    color: black;
}

.bread a:hover {
    text-decoration: underline;
}

/* 頁籤 */
.tab_row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 30px;
}

.tab_row input {
    display: none;
}

.tab_row label {
    margin: 0 5px 5px 0;
    padding: 10px 16px;
    cursor: pointer;
    border-radius: 5px;
    opacity: 0.5;
}

.tab_content {
    order: 1;
    display: none;
    width: 100%;
}

.tab_row input:checked+label,
.tab_row label:hover {
    opacity: 1;
    font-weight: bold;
}

.tab_row input:checked+label+.tab_content {
    display: initial;
}

/* 書架 */
.swiper {
    width: 100%;
    height: 600px;
    /* position: relative; */
}

.swiper-slide {
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide p {
    position: absolute;
    z-index: 30;
    color: #fff;
    font-size: 32px;
    font-family: 'Noto Sans TC Medium';
    letter-spacing: 10px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 600px;
    object-fit: cover;
    overflow: hidden;
}

.Swiper3 {
    margin-top: 40px;
    background: linear-gradient(180deg, #FFEDD8 55%, #F3D5B5 45%);
}

.bookshelf {
    background: linear-gradient(180deg, #FFEDD8 55%, #F3D5B5 45%);
}

.short {
    height: 330px;
}

.book {
    width: 300px;
    height: 100%;
    font-family: 'Noto Sans TC Light';
    letter-spacing: 1px;
    margin: 0 10px;
    padding-bottom: 15px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.book_img {
    width: 150px;
    height: 212px;
    margin: 0 auto;
}

.book_img img {
    width: 100%;
    height: 100%;
    position: static;
}

.book_title {
    font-family: 'Noto Sans TC Medium';
    font-size: 16px;
    color: #000;
    padding-top: 10px;
}

.slogan {
    margin: 0 auto;
    font-size: 14px;
    /* line-height: 17px; */
    color: rgba(242, 49, 49, 0.8);
    text-align: center;
    padding: 10px 10px 0;
    flex-grow: 1;
}

.text_left {
    text-align: left;
}

.author {
    color: #1A9E9E;
    font-size: 14px;
    padding-top: 10px;
}

.price {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.cost {
    color: #000;
    font-size: 12px;
}

.cost_num {
    color: #FF0000;
    font-size: 18px;
}

.button_color {
    color: #000;
}

.book:nth-child(4n+2) {
    display: none;
}

.book:nth-child(4n+3) {
    display: none;
}

.book:nth-child(4n+4) {
    display: none;
}

.more_detail {
    display: flex;
    justify-content: end;
    align-items: center;
}

.more_detail a {
    color: #ffffff;
    position: relative;
}

.book_style {
    margin: 10px auto 0;
    max-width: 1440px;
    padding-right: 20px;
}

.book_style a {
    color: #000;
}

@media screen and (min-width:768px) {
    /* 書架 */
    .book:nth-child(4n+2){
        display:flex;
    }
    .books h3{
        text-align: left;
        padding-left: 20px;
    }
}

@media screen and (min-width:1024px) {
    .book:nth-child(4n+3){
        display:flex;
    }
    .books h3{
        padding-left: 30px;
    }
}

@media screen and (min-width:1200px) {
    .book:nth-child(4n+4){
        display:flex;
    }
    .books h3{
        padding-left: 80px;
    }
}
