header {
    width: 100%;
    background-color: #583101cb;
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    height: 72px;
}

button{
    cursor:pointer;
}
/*--------漢堡------*/
#menu_switch {
    display: none;
}

.menu_switch {
    background-color: transparent;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 15px;
    right: 10px;
    display: block;
    cursor: pointer;
    z-index: 3;
}

.burger_line {
    width: 30px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.menu_switch span:nth-child(1) {
    top: 9px;
    transform: rotate(0deg);
    transition: top 1s .5s, transform 1s 0s;
}

#menu_switch:checked~.menu_switch span:nth-child(1) {
    top: 19px;
    transform: rotate(405deg);
    transition: top .5s .5s, transform 1s 1s;
}

.menu_switch span:nth-child(2) {
    top: 0;
    bottom: 0;
    margin: auto;
    opacity: 1;
    transition: .5s;
}

#menu_switch:checked~.menu_switch span:nth-child(2) {
    opacity: 0;
    transition: .5s;
}

.menu_switch span:nth-child(3) {
    bottom: 9px;
    transform: rotate(0deg);
    transition: bottom 1s .5s, transform 1s 0s;
}

#menu_switch:checked~.menu_switch span:nth-child(3) {
    bottom: 19px;
    transform: rotate(495deg);
    transition: bottom .5s .5s, transform 1s 1s;
}

/*-------*/
.logo {
    position: absolute;
    left: 20px;
}

.menu {
    background-color: #3a3a3af3;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: -1000px;
    left: 0px;
    z-index: 2;
    opacity: 0;
    transition: top .5s 1s, opacity 1s 0s;
}

#menu_switch:checked~.menu {
    top: 0;
    opacity: 1;
    animation: fade_in 2s;
    animation-timing-function: linear;
}
@keyframes fade_in {
    0% {
        opacity: 0;
        top: -1000px;
    }

    5% {
        top: 0px;
        opacity: 0;
    }

    25% {
        opacity: 0.5;
        top: 0;
    }

    33.333333% {
        opacity: 0.6;
        top: 0;
    }

    50% {
        opacity: 0.7;
        top: 0;
    }

    66.666666% {
        opacity: 0.8;
        top: 0;
    }

    75% {
        opacity: 0.9;
        top: 0;
    }

    100% {
        opacity: 1;
        top: 0;
    }
}

.menu li a {
    display: block;
    padding: 20px;
    margin: 0px 20px 10px;
    color: #ffffffee;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    border-bottom: 3px solid #ffffff;
}

.member_icon {
    display: none;
}

/*---搜尋列---*/
.search {
    display: block;
    padding: 20px;
    margin: 60px 20px 10px;
    border-bottom: 3px solid #ffffff;
}

.search_item {
    display: flex;
    justify-content: center;
}

.search_bar {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    width: 100%;
    font-size: 20px;
    height: 40px;
    outline: none;
    color: #ffffffee;
}

input::placeholder {
    color: #ffffffee;
    vertical-align: baseline;
}

::-webkit-input-placeholder {
    color: #ffffffee;
}

:-ms-input-placeholder {
    color: #ffffffee;
}

::-moz-placeholder {
    color: #ffffffee;
    opacity: 1;
}

.search_btn {
    outline: none;
    display: block;
    border: 0;
    background-color: transparent;
}

.search_btn img {
    width: 22px;
}

@keyframes fade_in {
    0% {
        opacity: 0;
        top: -1000px;
    }

    5% {
        top: 0px;
        opacity: 0;
    }

    25% {
        opacity: 0.5;
        top: 0;
    }

    33.333333% {
        opacity: 0.6;
        top: 0;
    }

    50% {
        opacity: 0.7;
        top: 0;
    }

    66.666666% {
        opacity: 0.8;
        top: 0;
    }

    75% {
        opacity: 0.9;
        top: 0;
    }

    100% {
        opacity: 1;
        top: 0;
    }
}

.menu li a {
    display: block;
    padding: 20px;
    margin: 0px 20px 10px;
    color: #ffffffee;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    border-bottom: 3px solid #ffffff;
}

.member_icon {
    display: none;
}

/*---搜尋列---*/
.search {
    display: block;
    padding: 20px;
    margin: 60px 20px 10px;
    border-bottom: 3px solid #ffffff;
}

.search_item {
    display: flex;
    justify-content: center;
}

.search_bar {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    width: 100%;
    font-size: 20px;
    height: 40px;
    outline: none;
    color: #ffffffee;
}

input::placeholder {
    color: #ffffffee;
    vertical-align: baseline;
}

::-webkit-input-placeholder {
    color: #ffffffee;
}

:-ms-input-placeholder {
    color: #ffffffee;
}

::-moz-placeholder {
    color: #ffffffee;
    opacity: 1;
}

.search_btn {
    outline: none;
    display: block;
    border: 0;
    background-color: transparent;
}

.search_btn img {
    width: 22px;
}

@media screen and (min-width :768px) {
    header {
        display: flex;
    }
    .menu {
        display: flex;
        background-color: transparent;
        width: 100%;
        height: 70px;
        position: relative;
        top: 0;
        left: 0;
        z-index: 2;
        justify-content: flex-end;
        align-items: center;
        padding: 0 40px;
        opacity: 1;
        transition: none;
    }

    .nav_items {
        display: flex;
        align-items: center;
    }

    .member_icon {
        display: block;
    }

    .nav_item a img {
        width: 22px;
        height: 22px;
    }

    .menu_switch {
        display: none;
    }

    .menu li a {
        display: block;
        padding: 0px;
        margin: 0px 20px 0px 0px;
        text-decoration: none;
        font-size: 18px;
        border-bottom: 0;
    }

    .nav_item:nth-child(4) {
        width: 22px;
        margin-right: 15px;
        margin-left: 10px;
    }

    .search_row {
        display: flex;
        order: 1;
    }

    .search {
        display: flex;
        padding: 0;
        margin: 0;
        border-bottom: 0;
    }

    .search_bar {
        height: 20px;
        color: black;
        width: 150px;
    }

    .phone_type {
        display: none;
    }
}
@media screen and (min-width:1024px) {
    .phone_type {
        display: block;
    }

    .member_icon {
        display: none;
    }

    .logo {
        position: absolute;
        left: 40px;
    }
}
@media screen and (min-width:1200px) {
    h2{
        padding-left: 60px !important;
    }
    .menu {
        padding: 0 100px 0 0;
    }

    .menu li a {
        margin: 0px 40px 0px 0px;
    }

    .logo {
        position: absolute;
        left: 80px;
    }
    .about_img{
        margin-left: 80px;
    }
}