/*-------header-------*/
header{
    width: 100%;
}
.container{
    width: 100%;
    height: 750px;
    margin: auto;
}
.container-imgbac{
    width: 100%;
    height: 77px;
}
.container-imgbac img{
    min-width: 1200px;
    width: 100%;
    height: 100%;
    display: block;
}
.menubar-background{
    width: 100%;
    height: 77px;
    background-color: rgba(97, 65, 36, 0.85);
    position: absolute;
    justify-content: space-around;
}
.menubar{
    width: 1200px;
    display: flex;
    margin: auto;
    justify-content: space-around;
}
.menubar-logo img{
    position: relative;
    width: 141px;
    height: 65px;
    top: 7px;
}
.menubar-menu-search{
    display: flex;
    align-items: flex-end;
}
.menu{
    display: flex;
    text-align: center;
    margin-bottom: 5px;
}
.menu-item{
    margin: 0 10px;
}
.menu-item a{
    color: rgba(249, 249, 249, 0.8);
    font-family: 'SimSun';
    font-style: normal;
    text-decoration: none;
}
.search{
    margin-bottom: 10px;
    position: relative;
}
.search-bar{
    background-color: rgba(249, 249, 249, 0.4);
    border: 0;
    height: 22px;
}
.search-btn{
    height: 24px;
    background-color: rgba(217, 217, 217, 0.8);
    outline:none;
    border:0;
    cursor:  pointer;
    position: absolute;
    top: 0;
    right: 0;
}

