/* 共同參數 */
body {
    background-color: #FFEDD8;
}
button{
    cursor:pointer;
}
a{
    text-decoration: none;
    color: #fff;
}


header {
    width: 100%;
    background-color: #583101cb;
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    height: 72px;
}

/*--------漢堡------*/
#menu_switch {
    display: none;
}

.menu_switch {
    background-color: transparent;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 15px;
    right: 10px;
    display: block;
    cursor: pointer;
    z-index: 3;
}

.burger_line {
    width: 30px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.menu_switch span:nth-child(1) {
    top: 9px;
    transform: rotate(0deg);
    transition: top 1s .5s, transform 1s 0s;
}

#menu_switch:checked~.menu_switch span:nth-child(1) {
    top: 19px;
    transform: rotate(405deg);
    transition: top .5s .5s, transform 1s 1s;
}

.menu_switch span:nth-child(2) {
    top: 0;
    bottom: 0;
    margin: auto;
    opacity: 1;
    transition: .5s;
}

#menu_switch:checked~.menu_switch span:nth-child(2) {
    opacity: 0;
    transition: .5s;
}

.menu_switch span:nth-child(3) {
    bottom: 9px;
    transform: rotate(0deg);
    transition: bottom 1s .5s, transform 1s 0s;
}

#menu_switch:checked~.menu_switch span:nth-child(3) {
    bottom: 19px;
    transform: rotate(495deg);
    transition: bottom .5s .5s, transform 1s 1s;
}

/*-------*/
.logo {
    position: absolute;
    left: 20px;
}

.menu {
    background-color: #3a3a3af3;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: -1000px;
    left: 0px;
    z-index: 2;
    opacity: 0;
    transition: top .5s 1s, opacity 1s 0s;
}

#menu_switch:checked~.menu {
    top: 0;
    opacity: 1;
    animation: fade_in 2s;
    animation-timing-function: linear;
}

@keyframes fade_in {
    0% {
        opacity: 0;
        top: -1000px;
    }

    5% {
        top: 0px;
        opacity: 0;
    }

    25% {
        opacity: 0.5;
        top: 0;
    }

    33.333333% {
        opacity: 0.6;
        top: 0;
    }

    50% {
        opacity: 0.7;
        top: 0;
    }

    66.666666% {
        opacity: 0.8;
        top: 0;
    }

    75% {
        opacity: 0.9;
        top: 0;
    }

    100% {
        opacity: 1;
        top: 0;
    }
}

.menu li a {
    display: block;
    padding: 20px;
    margin: 0px 20px 10px;
    color: #ffffffee;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    border-bottom: 3px solid #ffffff;
}

.member_icon {
    display: none;
}

/*---搜尋列---*/
.search {
    display: block;
    padding: 20px;
    margin: 60px 20px 10px;
    border-bottom: 3px solid #ffffff;
}

.search_item {
    display: flex;
    justify-content: center;
}

.search_bar {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    width: 100%;
    font-size: 20px;
    height: 40px;
    outline: none;
    color: #ffffffee;
}

input::placeholder {
    color: #ffffffee;
    vertical-align: baseline;
}

::-webkit-input-placeholder {
    color: #ffffffee;
}

:-ms-input-placeholder {
    color: #ffffffee;
}

::-moz-placeholder {
    color: #ffffffee;
    opacity: 1;
}

.search_btn {
    outline: none;
    display: block;
    border: 0;
    background-color: transparent;
}

.search_btn img {
    width: 22px;
}

/* 輪播圖尺寸 */
.swiper {
    /* width: 100%; */
    height: 100%;
    position: relative;
}

.swiper-wrapper {
    height: 96vh;
    position: relative;
}

.swiper-slide {
    text-align: center;
    font-size: 42px;
    color: #ffffff;
    font-family: 'Noto Sans TC';
    letter-spacing: 20px;
    position: relative;
    overflow: hidden;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    min-width: 1920px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    min-width: 100%;
    z-index: -99;
}

/*---關於我們---*/
.about {
    padding-top: 80px;
}

.group {
    padding: 20px;
    background: linear-gradient(#FFEDD8 55%, #F3D5B5 45%);
}

.about h2 {
    padding-left: 20px;
    font-size: 32px;
    font-family: 'Noto Sans TC Medium';
}

.about h2::after {
    display: block;
    content: '';
    width: 2.5rem;
    min-width: 65px;
    height: 3px;
    border-radius: 999px;
    background-color: black;
    margin-top: 5px;
}

.about_img {
    width: 100%;
    height: 300px;
    padding-top: 20px;
    justify-content: center;
    display: flex;
}

.about_img img {
    width: 100%;
    max-width: 443px;
    height: 100%;
    object-fit: cover;
}

.about h3 {
    padding-top: 30px;
    font-size: 24px;
    font-family: 'Noto Sans TC Regular';
}

.about p {
    padding: 20px 0;
    width: 100%;
    line-height: 22px;
    letter-spacing: 1px;
    font-size: 18px;
    font-family: 'Noto Sans TC Light';
}

.seemore {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.about a {
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 5px 5px 5px 5px;
    font-size: 24px;
    transition: all .5s;
}

.about a:hover {
    background-color: #E7BC91;
    color: #ffffff;
    transition: all .5s;
}

/*---展演空間介紹---*/
/* performance */
.performance_space {
    text-align: center;
    padding: 60px 0 0;
    font-size: 28px;
    font-family: 'Noto Sans TC Medium';
}

.Swiper2 {
    height: 600px;
    margin-top: 40px;
}

.space_intro {
    width: 380px;
    height: 200px;
    background-color: #a47148ce;
    margin-top: 70px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.space_intro h4 {
    padding-top: 10px;
    font-size: 28px;
    font-family: 'Noto Sans TC Regular';
    color: #ffffffc9;
    letter-spacing: 10px;
}

.space_intro p {
    padding: 20px 0;
    font-size: 18px;
    text-align: left;
    letter-spacing: 2px;
    line-height: 22px;
    font-family: 'Noto Sans TC Light';
    color: #ffffffc9;
    flex-grow: 1;
}

.space_intro a {
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 1px;
}

.more_detail {
    display: flex;
    justify-content: end;
    align-items: center;
}

.more_detail a {
    color: #ffffff;
    position: relative;
}

.more_detail a:hover::after {
    content: '';
    top: 22px;
    left: 0;
    position: absolute;
    height: 1px;
    background-color: #ffffff;
    animation: ltr 1s;
    animation-fill-mode: forwards;
}
@keyframes ltr {
    0% {
        width: 0px;
    }

    100% {
        width: 100%;
    }
}
/*---活動資訊---*/
/*---日曆搜尋---*/
.event h2 {
    margin-top: 40px;
    padding: 20px;
    font-size: 32px;
    font-family: 'Noto Sans TC Medium';
}

.event h2::after {
    display: block;
    content: '';
    width: 2.5rem;
    min-width: 65px;
    height: 3px;
    border-radius: 999px;
    background-color: black;
    margin-top: 5px;
}
.calendar_search{
    display: flex;
    flex-direction: column;
}
.show_calendar{
    width: 300px;
    height: 300px;
    background-color: #A47148;
    margin: 0 auto;
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-family: 'Noto Sans TC Medium';
}
#show_year{
    font-size: 28px;
}
#show_month{
    margin: 20px 0;
    font-size: 36px;
}
#show_date{
    font-size: 64px;
}
#show_week{
    font-size: 28px;
    padding-top: 30px;
}
.calendar{
    width: 300px;
    background-color: #ffffffee;
    margin: 20px auto;
    padding: 20px 0;
    -webkit-appearance: none;
    border-radius: 0;
    min-height: -webkit-fill-available;
}
.vanilla-calendar-content{
    display: block;
    flex-direction: row;
}
.event h3{
    text-align: center;
    padding: 60px 0 40px;
    font-size: 28px;
    font-family: 'Noto Sans TC Medium';
}
.event h4{
    text-align: center;
    font-size: 26px;
    font-family: 'Noto Sans TC Medium';
}
.card_row{
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto 0;
    justify-content: center;
}
.card{
    width: 300px;
    height: 350px;
    margin: 0 15px 20px;
    border: 1px solid #000000d0;
    border-radius: 15px 15px 15px 15px;
    display: flex;
    flex-direction: column;
}
.card a{
    display: flex;
    flex-direction: column;
}
.card_img{
    width: 100%;
}
.card_img img{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0 0;
}
.card h5{
    padding: 10px 5px; 
    font-size: 20px;
    line-height: 24px;
    color: #000;
    font-family: 'Noto Sans TC Medium';
}
.card p{
    padding: 10px 10px 0; 
    font-size: 18px;
    line-height: 26px;
    font-family: 'Noto Sans TC Light';
    flex-grow: 1;
    color: #000;
}
.time_limit{
    padding: 20px 10px 20px; 
    font-size: 15px;
    font-family: 'Noto Sans TC Light';
    color: #000;
}
.card_row .card:nth-child(2){
    display: none;
}
.card_row .card:nth-child(3){
    display: none;
}
/* 所有書籍 */
.books{
    position: relative;
}
.books h2 {
    margin-top: 40px;
    padding: 20px;
    font-size: 32px;
    font-family: 'Noto Sans TC Medium';
}

.books h2::after {
    display: block;
    content: '';
    width: 2.5rem;
    min-width: 65px;
    height: 3px;
    border-radius: 999px;
    background-color: black;
    margin-top: 5px;
}
.book_search{
    width: 100%;
    height: 40px;
    margin: 20px auto 0;
    display: flex;
    justify-content: center;
}
.book_search_bar{
    margin: 0;
    padding: 0 10px;
    border: 0;
    background-color: #6F4518;
    width: 100%;
    font-size: 20px;
    height: 40px;
    outline: none;
    color: #ffffffee;
    border-radius: 0;
    -webkit-appearance:none;
}
.book_search_btn{
    width: 40px;
    height: 40px;
    outline: none;
    display: block;
    padding: 0;
    border: 0;
    background-color: #6F4518;
}
.book_search_btn img{
    width: 100%;
    height: 100%;
}
.search_menu{
    width: 100%;
    padding: 10px 0;
    display: none;
    justify-content: center;
    background-color: #6f4518e8;
    transition: all 1s;
    position: absolute;
    z-index: 2;
}
.search_menu a{
    display: block;
    margin: 5px 10px; 
}
.search_menu table tr:nth-child(n+2){
    text-align: center;
}
.search_menu table tr:nth-child(n+2) a{
    color: #ffffffa4;
}
.search_menu table tr th:nth-child(n+6){
    display: none;
}
.search_menu table tr td:nth-child(n+6){
    display: none;
}
.books h3{
    text-align: center;
    padding: 30px 0 0px;
    font-size: 28px;
    font-family: 'Noto Sans TC Medium';
}
/* 書架 */
.Swiper3{
    margin-top: 40px;
    background: linear-gradient(180deg,#FFEDD8 55%,#F3D5B5 45%);
}
.bookshelf{
    background: linear-gradient(180deg,#FFEDD8 55%,#F3D5B5 45%);
}
.short{
    height: 330px;
}
.book{
    width: 300px;
    height: 100%;
    font-family: 'Noto Sans TC Light';
    letter-spacing: 1px;
    margin: 0 10px;
    padding-bottom: 15px;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.book_img{
    width: 150px;
    height: 212px;
    margin:  0 auto;
}
.book_img img{
    width: 100%;
    height: 100%;
    position: static;
}
.book_title{
    font-family: 'Noto Sans TC Medium';
    font-size: 16px;
    color: #000;
    padding-top: 10px;
}
.slogan{
    margin: 0 auto;
    font-size: 14px;
    /* line-height: 17px; */
    color: rgba(242,49,49,0.8);
    text-align: center;
    padding: 10px 10px 0;
    flex-grow: 1;
}
.text_left{
    text-align: left;
}
.author{
    color: #1A9E9E;
    font-size: 14px;
    padding-top: 10px;
}
.price{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
.cost{
    color: #000;
    font-size: 12px;
}
.cost_num{
    color: #FF0000;
    font-size: 18px;
}
.button_color{
    color: #000;
}
.book:nth-child(4n+2){
    display:none;
}
.book:nth-child(4n+3){
    display:none;
}
.book:nth-child(4n+4){
    display:none;
}
.book_style{
    margin: 10px auto 0;
    max-width: 1440px;
    padding-right: 20px;
}
.book_style a{
    color: #000;
}
.book_style a:hover::after{
    background-color: #000;
    top: 18px;
}
/* 聯絡我們 */
.contact h2 {
    padding: 20px;
    margin-top: 40px;
    font-size: 32px;
    font-family: 'Noto Sans TC Medium';
}
.contact h2::after {
    display: block;
    content: '';
    width: 2.5rem;
    min-width: 65px;
    height: 3px;
    border-radius: 999px;
    background-color: black;
    margin-top: 5px;
}
.contact_items{
    margin: 0 0 10px;
    padding: 0 20px 0;
    display: flex;
    font-family: 'Noto Sans TC Light';
    font-size: 20px;
}
.contact_items_title{
    padding: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #6F4518;
}
.contact_items p{
    padding: 5px;
}
.map{
    width:300px;
    margin: 0 auto;
    padding: 30px;
}
.map a img{
    width: 100%;
    height: 100%;
}
/* footer */
footer{
    background-color: #583101e1;
    padding-top: 10px;
    margin-top: 60px;
}
.footer_info{
    text-align: center;
    line-height: 22px;
    font-family: 'Noto Sans TC Light';
    color: #ffffffd8;
    padding: 10px 0;
}
.social_media{
    display: flex;
    justify-content: center;
}
.social_media a{
    display: block;
    width: 40px;
    height: 30px;
}
.social_media a img{
    width: 100%;
    height: 100%;
}
.social_media_flex{
    display: flex;
}
.footer_menu a {
    padding-right: 10px;
}
.copyright{  
    padding: 0.75rem 0;
    color: #ffffffd8;
    font-family: 'Noto Sans TC Light';
    line-height: 18px;
    text-align: center;
}
@media screen and (min-width :768px) {
    header {
        display: flex;
    }
    .menu {
        display: flex;
        background-color: transparent;
        width: 100%;
        height: 70px;
        position: relative;
        top: 0;
        left: 0;
        z-index: 2;
        justify-content: flex-end;
        align-items: center;
        padding: 0 40px;
        opacity: 1;
        transition: none;
    }

    .nav_items {
        display: flex;
        align-items: center;
    }

    .member_icon {
        display: block;
    }

    .nav_item a img {
        width: 22px;
        height: 22px;
    }

    .menu_switch {
        display: none;
    }

    .menu li a {
        display: block;
        padding: 0px;
        margin: 0px 20px 0px 0px;
        text-decoration: none;
        font-size: 18px;
        border-bottom: 0;
    }

    .nav_item:nth-child(4) {
        width: 22px;
        margin-right: 15px;
        margin-left: 10px;
    }

    .search_row {
        display: flex;
        order: 1;
    }

    .search {
        display: flex;
        padding: 0;
        margin: 0;
        border-bottom: 0;
    }

    .search_bar {
        height: 20px;
        color: black;
        width: 150px;
    }

    .phone_type {
        display: none;
    }
    .group{
        display: flex;
        background: none;
        justify-content: center;
    }
    .about_img{
        padding-top: 0;
        order: 1;
        width: 380px;
        height: 300px;
        max-width: 443px;
    }
    .about_text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .about_text h3{
        padding-top: 0;
    }
    .about_text p{
        width: 360px;
    }
    .card_row .card:nth-child(2){
        display: flex;
    }
    .search_menu table tr th:nth-child(n+6){
        display: table-cell;
    }
    .search_menu table tr td:nth-child(n+6){
        display: table-cell;
    }
    .search_menu a{
        display: block;
        margin: 5px 20px; 
    }
    .calendar_search{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .show_calendar{
        margin: 0;
    }
    .calendar{
        width: 400px;
        height: 300px;
        order: 1;
        margin: 0 ;
        padding: 0; 
        display: flex;
        flex-direction: column;
        justify-content: space-around;  
    }
    .vanilla-calendar-header{
        height: 30px;
        margin: 12px 0;
    }
    .vanilla-calendar-content{
        flex-grow: 1;
    }
    .book:nth-child(4n+2){
        display:flex;
    }
    .books h3{
        text-align: left;
        padding-left: 20px;
    }
    .contact_row{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .contact_items{
        margin: 0 0 20px;
    }
    .map{
        width: 350px;
        padding-top: 0px;
    }
    .social_media{
        display: flex;
    }
    .social_media_flex{
        display: flex;
    }
    .footer_info{
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: left;
        line-height: 22px;
        font-family: 'Noto Sans TC Light';
        color: #ffffffd8;
        padding: 10px 0;
    }
}

@media screen and (min-width:1024px) {
    .phone_type {
        display: block;
    }

    .member_icon {
        display: none;
    }

    .logo {
        position: absolute;
        left: 40px;
    }
    .about_img{
        margin-left: 60px;
    }
    .card_row .card:nth-child(3){
        display: flex;
    }
    .book:nth-child(4n+3){
        display:flex;
    }
    .books h3{
        padding-left: 30px;
    }
    .contact_us{
        border-left: 1px solid #d9a765;
    }
    .contact_items{
        margin: 0 0 30px;
    }
    .map{
        width: 500px;
        padding-top: 0px;
        margin: 0 40px;
    }
    
}

@media screen and (min-width:1200px) {
    h2{
        padding-left: 60px !important;
    }
    .menu {
        padding: 0 100px 0 0;
    }

    .menu li a {
        margin: 0px 40px 0px 0px;
    }

    .logo {
        position: absolute;
        left: 80px;
    }
    .about_img{
        margin-left: 80px;
    }
    .card{
        width: 300px;
        height: 350px;
        margin: 0 30px 20px;
        border: 1px solid #000000d0;
        border-radius: 15px 15px 15px 15px;
        display: flex;
        flex-direction: column;
    }
    .search_menu a{
        display: block;
        margin: 5px 40px; 
    }
    .book:nth-child(4n+4){
        display:flex;
    }
    .books h3{
        padding-left: 80px;
    }
    .contact_items{
        margin: 0 0 40px;
    }
    .map{
        width: 600px;
        padding-top: 0px;
    }
    .footer_menu{
        display: flex;
    }
}